openapi: 3.0.0
info:
  version: 1.0.0
  title: Flings API
servers:
  - url: 'https://flings.vmware.com/api/v1'
paths:
  /flings:
    get:
      summary: 'Returns all Flings'
      operationId: listFlings
      tags:
        - fling
      responses:
        '200':
          description: 'Flings list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fling'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /flings/{id}:
    get:
      summary: 'Returns details about a particular fling'
      operationId: getFling
      tags:
        - fling
      parameters:
        - name: id
          in: path
          description: ID of the Fling
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'Details about a fling by ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fling'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Flings:
      type: array
      items:
        $ref: '#/components/schemas/Fling'
    Fling:
      type: object
      required:
        - id
        - title
        - version
        - summary
        - changelog
        - created_at
        - version_updated_at
        - productised_at
        - is_productised?
        - is_deprecated?
        - download_urls
        - engineers
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
          description: Fling Title
        version:
          type: string
          description: Fling Version
        summary:
          type: string
          description: Fling Summary
        changelog:
          type: string
          description: Fling Changelog
        created_at:
          type: string
          description: Fling Creation Date
        version_updated_at:
          type: string
          description: Fling Update Date
        productised_at:
          type: string
          description: Fling Productisation Date
        url:
          type: string
          description: Fling URL
        is_productised?:
          type: boolean
          description: Is Fling Productised?
        is_deprecated?:
          type: boolean
          description: Is Fling Deprecated?
        download_urls:
          type: array
          items:
            type: string
          description: Fling Binaries URL
        engineers:
          description: Fling Developpers
          type: array
          items:
            type: string
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
         type: integer
          format: int32
        message:
          type: string